<!--
TODO:
- maybe make this page into a dashboard with tickers and graphs?
-->

{% extends 'base.html' %}
 
{% block title %} Home {% endblock %}
 
{% block content %}
<section class="index-section-title">
    Enter giftee information:
</section>
<section class="input-form">
    <form class="submit-form" action="/submit/" method="GET">{% csrf_token %}
        <section id="gender" class="grid-fourth">
            <div class="section-title">
                Gender
            </div>

            <img id="female_gender_icon" class="gender_icon" src="http://static.thoughtfulgiftgenerator.com//img/gender-icon/female-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com//img/gender-icon/female-1b.png"width="50px" height="150px" value="Female">
            <img id="male_gender_icon" class="gender_icon" src="http://static.thoughtfulgiftgenerator.com//img/gender-icon/male-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com//img/gender-icon/male-1b.png" width="50px" height="150px" value="Male">
            <input id="gender_input" type="hidden" name="gender" />

        </section>
        <section id="age" class="grid-fourth">
            <div class="section-title">
                Age
            </div>
            <div>
                <span>
                    <img id="age_1" class="age_icon" value="age_1" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-1b.png" width="85px">
                    <img id="age_2" class="age_icon" value="age_2" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-2a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-2b.png" width="85px">
                    <img id="age_3" class="age_icon" value="age_3" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-3a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-3b.png" width="85px">
                    <img id="age_4" class="age_icon" value="age_4" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-4a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-4b.png" width="85px">
                    <img id="age_5" class="age_icon" value="age_5" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-5a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-5b.png" width="85px">
                    <img id="age_6" class="age_icon" value="age_6" src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-6a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/age-icon/age-6b.png" width="85px">
                    <input id="age_input" type="hidden" name="age" />
                </span>
            </div>
        </section>
        <section id="category" class="grid-fourth">
            <div class="section-title">
                Category
            </div>
            <div>
                <!-- TODO: wtf is this, fix this to have bool toggle buttons -->
                <img id="tech_flag" class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/technology-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/technology-1b.png" width="85px" value="technology">
                <input id="tech_flag_input" type="hidden" name="tech_flag" />
                
                <img id="fitness_flag"class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/fitness-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/fitness-1b.png" width="85px" value="fitness">
                <input id="fitness_flag_input" type="hidden" name="fitness_flag" />
                
                <img id="fashion_flag"class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/fashion-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/fashion-1c.png" width="85px" value="fashion">
                <input id="fashion_flag_input" type="hidden" name="fashion_flag" />
                        
                <img id="travel_flag" class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/travel-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/travel-1b.png" width="85px" value="travel">
                <input id="travel_flag_input" type="hidden" name="travel_flag" />

                <img id="music_flag" class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/music-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/music-1b.png" width="85px" value="music">
                <input id="music_flag_input" type="hidden" name="music_flag" />

                <img id="home_flag" class="category_icon" src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/home-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/category-icon2/home-1b.png" width="85px" value="music">
                <input id="home_flag_input" type="hidden" name="home_flag" />
        </section>
        <section id="amount" class="grid-fourth">
            <div class="section-title">
                Price
            </div>
            <div>
                <span>
                    <img id="price_1" class="price_icon" value="price_1" src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-1a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-1b.png" width="85px">
                    <img id="price_2" class="price_icon" value="price_2" src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-2a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-2b.png" width="85px">
                    <img id="price_3" class="price_icon" value="price_3" src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-3a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-3b.png" width="85px">
                    <img id="price_4" class="price_icon" value="price_4" src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-4a.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/price-icon/price-4b.png" width="85px">
                    <input id="price_input" type="hidden" name="price_range" />
                </span>
            </div>
        </section>
    </section>
    <section class="grid-full submit-button">
        <center>
            <p>
                <!-- image -->
                <!-- <img id="submit" class="submit-button" value="submit" src="http://static.thoughtfulgiftgenerator.com/img/button-icon/generate-gift-1b.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/button-icon/generate-gift-1a.png" width="285px"> -->

                <!-- traditional submit button -->
                <!-- <input class="submit-button" type="submit" value="Generate Gift!" /> -->

                <!-- new hotness -->
                <input id="gift-generate" class="submit-button" src="http://static.thoughtfulgiftgenerator.com/img/button-icon/generate-gift-1b.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/button-icon/generate-gift-1a.png" width="285px" type="image"/>
            </p>
        </center>
    </section>
    </form>
</section>
<section>
    <form class="submit-form" action="/random/" method="GET">{% csrf_token %}
        <section class="grid-full">
            <center>
                <p>
                    <!-- image -->
                    <!-- <img id="submit" class="submit-button" value="submit" src="http://static.thoughtfulgiftgenerator.com/img/button-icon/random-gift-1b.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/button-icon/random-gift-1a.png" width="285px"> -->

                    <!-- traditional submit button -->            
                    <!-- <input class="submit-button" type="submit" value="This is too much thinking, pick me something random!" /> -->
                    
                    <!-- new hotness -->            
                    <input id="random-generate" class="submit-button" src="http://static.thoughtfulgiftgenerator.com/img/button-icon/random-gift-1b.png" data-alt-src="http://static.thoughtfulgiftgenerator.com/img/button-icon/random-gift-1a.png" width="285px" type="image" action="/random"/>
                </p>
            </center>
        </section>
    </form>
</section>
{% endblock %}