<!--
TODO:
- maybe make this page into a dashboard with tickers and graphs?
-->


{% extends 'base.html' %}
 
 
{% block title %} Home {% endblock %}
 
{% block content %}
<section class="description">
    this is what you should do
</section>
<form class="submit-form" action="/submit/" method="GET">{% csrf_token %}
<section id="gender" class="grid-half">
    <div class="section-title">
        Gender:
    </div>

    <img class="gender_icon" src="{{STATIC_URL}}/img/female.png" width="50px" height="150px" value="female">
    <img class="gender_icon" src="{{STATIC_URL}}/img/male.png" width="50px" height="150px" value="male">
    <input id="gender_input" type="hidden" name="gender" />

</section>
<section id="age" class="grid-half">
    <div class="section-title">
        Age:
    </div>
    <div>
        Select Age
        <span>
            <img class="age_icon" value="age_1" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <img class="age_icon" value="age_2" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <img class="age_icon" value="age_3" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <img class="age_icon" value="age_4" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <input id="age_input" type="hidden" name="age" />
        </span>
    </div>
</section>
<section id="category" class="grid-full">
    <div class="section-title">
        Category:
    </div>
    <div>
        <!-- TODO: wtf is this, fix this to have bool toggle buttons -->
        <img class="category_icon" src="{{STATIC_URL}}img/technology.png" width="85px" value="technology">
        <input id="category_input_tech" type="hidden" name="tech" />
        <img class="category_icon" src="{{STATIC_URL}}img/sports.png" width="85px" value="sports">
        <input id="category_input_sports" type="hidden" name="sports" />
        <img class="category_icon" src="{{STATIC_URL}}img/travel.png" width="85px" value="travel">
        <input id="category_input_travel" type="hidden" name="travel" />
        <img class="category_icon" src="{{STATIC_URL}}img/fashion.png" width="85px" value="fashion">
        <img class="category_icon" src="{{STATIC_URL}}img/music.png" width="85px" value="music">
        <input id="category_input_fashion" type="hidden" name="fashion" />
        <p>
            sports, active, fashion, technology, music, home, random?
        </p>
</section>
<section id="amount" class="grid-full">
    <div class="section-title">
        Price Range?
    </div>
    <div>
        Min:
        <input type="text" name="priceMin" placeholder="let's not be a jerk">
    </div>
    <div>
        Max:
        <input type="text" name="priceMax" placeholder="let's not get to crazy">
    </div>
</section>
<section class="grid-full">
    <p><input class="submit-button" type="submit" value="Submit!" /></p>
</section>
</form>

{% endblock %}