<!--
TODO:
- maybe make this page into a dashboard with tickers and graphs?
-->


{% extends 'base.html' %}
 
 
{% block title %} Home {% endblock %}
 
{% block content %}
<section class="description">
    this is what you should do
</section>
<form class="submit-form" action="/submit/" method="GET">{% csrf_token %}
<section id="gender" class="grid-half">
    <div class="section-title">
        Gender:
    </div>

    <img class="gender_icon" id="gender_icon_female" src="{{STATIC_URL}}/img/female.png" width="50px" height="150px" value="female">
    <img class="gender_icon" id="gender_icon_male" src="{{STATIC_URL}}/img/male.png" width="50px" height="150px" value="male">
    <input id="gender_input" type="hidden" name="gender" />

</section>
<section id="age" class="grid-half">
    <div class="section-title">
        Age:
    </div>
    <div>
        Select Age
        <span>
            <img name="age" id="age_1" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <img id="age_2" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <img id="age_3" src="{{STATIC_URL}}img/age_zero_to_five.png" width="85px">
            <select name="age2">
                <option value=1>1</option>
                <option value=2>2</option>
            </select>
        </span>
    </div>
</section>
<section id="hobbies" class="grid-full">
    <div class="section-title">
        Hobbies:
    </div>
    <div>
        <img src="{{STATIC_URL}}img/technology.png" width="85px" value="technology">
        <img src="{{STATIC_URL}}img/sports.png" width="85px" value="sports">
        <img src="{{STATIC_URL}}img/travel.png" width="85px" value="travel">
        <img src="{{STATIC_URL}}img/fashion.png" width="85px" value="fashion">
            <select name="hobbies">
                <option value=sports>sports</option>
            </select>
        sports, active, fashion, technology, music, home, 
</section>
<section id="amount" class="grid-full">
    <div class="section-title">
        Price Range?
    </div>
    <div>
        Min:
        <input type="text" name="priceMin" placeholder="let's not be a jerk">
    </div>
    <div>
        Max:
        <input type="text" name="priceMax" placeholder="let's not get to crazy">
    </div>
</section>
<section class="grid-full">
    <p><input class="submit-button" type="submit" value="Submit!" /></p>
</section>
</form>

{% endblock %}